.place-header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  align-self: stretch;
}

.place-status {
  grid-column: 3 / 11;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.place-board {
  grid-column: 4 / 10;
  grid-row: 3 / 9;
  align-self: stretch;
  justify-self: stretch;
}

.place-buttons {
  grid-column: 1 / -1;
  grid-row: 9 / 10;
  align-self: center;
}
